.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'editor preview';
    gap: 20px;
    height: calc(100vh - 5.4rem);
    overflow: auto;
    overflow-x: hidden;
}

main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}