.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'editor preview';
    gap: 20px;
    height: 90vh;
}

main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}