.preview {
    grid-area: 'preview';
    height: 90%;
    width: calc(100% - 3rem);
    margin: 20px;
    border: 4px dashed lightblue;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    padding-top: 5px;
    background-image: url('../../public/wood.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character {
    display: flex;
    flex-direction: column;
}

.head {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tops {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}