.preview {
    grid-area: 'preview';
    height: calc(90% - 2rem);
    min-width: 400px;
    width: calc(100% - 3rem);
    margin: 20px;
    border: 4px dashed lightblue;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    padding-top: 5px;
    background-image: url('../../public/wood.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character {
    margin: 0 auto;
    padding-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "head"
        "tops"
        "bottoms";
    height: 600px;
}

.head {
    grid-area: "head";
    margin: -80px auto;
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.tops {
    grid-area: "tops";
    height: auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -140px auto;
    z-index: 1;
}

.bottoms {
    grid-area: "head";
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -200px auto;
    z-index: 0
}