footer {
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding-right: 15px;
    color: rgb(104, 104, 104);
    font-weight: 700;
    background-color: lightgreen;
    font-size: 1.2rem;
}